.about{
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #C3979F;
}

.about-title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: large;
    color: #78FFD6;
    font-weight: bold;
}

.about-paragraph{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}