.footer-bottom{
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #2B303A;
    border: none;

    


}

.footer-container{
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-img{
    width: 3rem;
    height: 3rem;
    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    
}