.header-top {

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: var(--header);
}

h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: larger;
    color: var(--header-title);
    font-weight: bold;
}

.header-nav{
    color: var(--header-links);
    text-align: center;
}

.header-link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

@media screen and (min-width: 1024px) {
    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-nav{
    }

    h1{
        padding:3rem;
        font-size: xx-large;
    }

}
